body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color:white;
    font-size: 1.1rem;
    line-height: 1.4em;
    margin: 0%;
}

.container{
    width: auto;
}

.header{
    background-color: white;
    color: black;
    padding: 1rem;
}

.logo-nav-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.arriba{
    float: right;
    justify-content: space-between;
}

.logo{
    text-align: left;
    margin-left: 1.5rem;
}

.arriba{
    text-align: right;
    margin-right: 1.5rem;
}

.arriba a{
    margin: 1rem;
}

.navigation ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2.7rem;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a{
    display: block;
    transition: all 0.2s;
    color: black;
    text-decoration:none;
    margin-right: 1rem;

}
 
.navigation ul li a:hover{
    background-color: paleturquoise;
}